body
{
    align-content: center;
    background-image: url("blueskyBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Amatic SC', cursive;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

#fiveDayWeatherTable
{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    width: 30%;
}

#currentWeatherTable
{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    width: 25%;
}
td
{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

tr:hover
{
    background-color: lightsteelblue;
    cursor: pointer;
}

#mainRow
{
    font-weight: bold;
    background-color: aliceblue;
    font-size: 22px;
}

#descriptionField
{
    font-weight: bold;
    /*background-color: lightgrey;*/
}

/* Link nieodwiedzony */
a:link
{
    text-decoration: none; 			/* Wyłącza dekoracje tekstu (w tym przypadku podkreślenie linku) */
    font-size: 24px;
    font-weight: 600;			/* kolor tekstu */
    border: 1px #4286f4 dotted; 		/* Ramka tekstu szerokość/kolor/styl */
    padding: 2px 4px; 				/* Odstępy ramki od tekstu */
    -webkit-border-radius: 10px; 	/* Zaokrąglenie ramki (średnica zaokrąglenia) */
    -moz-border-radius: 10px;		/* Zaokrąglenie ramki (średnica zaokrąglenia) - Mozilla */
    border-radius: 10px;			/* Zaokrąglenie ramki (średnica zaokrąglenia) */
}

/* Link odwiedzony */
a:visited
{
    background-color: white;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    border: 1px black solid;
    padding: 2px 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* Link po najechaniu myszką */
a:hover
{
    background-color: aliceblue;
    text-decoration: none;
    color: black;
    border: 1px black solid;
    padding: 2px 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#sumbit
{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    font-weight: 550;
    color: #00264d;
    padding: 2px 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#sumbit:hover
{
    font-weight: 700;
    cursor: pointer;
}

#typeTextField{
    height: 30px;
    text-align: center;
    font-size: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
