<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pogodziak</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css" type="text/css" />
</head>
<body>
<center>
    <h1>Pogodziak &reg;</h1>
    <h2>Wybierz dowolne miasto i sprawdź szczegóły dotyczące obecnej pogody!</h2>
    <br><br>

    <div>
        <a class="naviButton" href="/">Aktualna pogoda</a>
        <a class="naviButton" href="/fiveDayWeather">Pogoda na 5 dni</a>
    </div>
    <br>

    <div style="text-align: center;">
        <form method="post" action="/">
            <input id="typeTextField" type="text" placeholder="Wpisz miasto" name="city"><br><br>
            <input id="sumbit" type="submit" value="Pokaż pogodę">
        </form>
    </div>
    <br><br>
    <span th:if="@{errorMessage} != null" th:text="${errorMessage}"></span>

    <div th:if="${city} != null">
        <table id="currentWeatherTable">
            <tr>
                <td id="mainRow" colspan="2"><span th:text="${city}"></span></td>
            </tr>
            <tr>
                <td id="descriptionField">Kraj</td>
                <td><span th:text="${country}"></span></td>
            </tr>
            <tr>
                <td id="descriptionField">Temperatura w cieniu</td>
                <td><span th:text="${temperature}"></span></td>
            </tr>
            <tr>
                <td id="descriptionField">Ciśnienie powietrza</td>
                <td><span th:text="${pressure}"></span></td>
            </tr>
            <tr>
                <td id="descriptionField">Wilgotność powietrza</td>
                <td><span th:text="${humidity}"></span></td>
            </tr>
            <tr>
                <td id="descriptionField">Zachmurzenie</td>
                <td><span th:text="${cloudiness}"></span></td>
            </tr>
            <!--

            <tr>
                <td id="descriptionField">Wschód słońca</td>
                <td><span th:text="${sunrise}"></span></td>
            </tr>
            <tr>
                <td id="descriptionField">Zachód słońca</td>
                <td><span th:text="${sunset}"></span></td>
            </tr>

            -->
        </table>
    </div>
</center>
</body>
</html>